<div class="topic-index-wrapper">
  <div class="container">
    <% @helds.each do |held| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
      
              <%= image_tag held.image.url if held.image? %>
              
              <h4 class="topic-author">
                <%= "開催名称：" %>
                <%= held.event_name %>
              </h4>
              <h4 class="topic-author">
                <%= "開催日時：" %>
                <%= held.held_time %>
              </h4>

              <h4 class="topic-author">
                <%= "開催場所：" %>
                <%= held.address %>
              </h4>
            
              <p class="topic-author">
                <%= link_to "/helds/#{held.id}/edit", method: :get do %>
                <button>編集</button>
                <% end %>
              </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>